/*
 *	Pages
 */
html
{
	width:100%;
	height:100%;
	font-family:Roboto, "sans-serif";
	background-color:#E0E0E0;

}
body
{
	padding: 0;
	margin: 0;
	text-align: center;

	#banner
	{
		padding:2em 2em 0 2em;
		background-color:white;
		border-bottom: 10px #CDBDFF solid;

		img
		{
			height:15%;
			max-height:540px;
		}
	}

	&#index,
	&#login
	{
		section
		{
			padding:1em 2em;
		}
	}
	@import 'imports/create';
	@import 'imports/group';
	@import 'imports/groups';
	@import 'imports/invite';
}

/*
 *	Elements
 */
h1,h2,h3,h4,h5,h6
{
	font-weight: 300;
}
h1
{
	font-size:150%;
}
h2
{
	font-size:120%;
	font-style: italic;
	color:#666;
}
hr
{
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom-color: #D0D0D0;
}
i
{
	vertical-align: middle;
}
.btn
{
	display: inline-block;
	padding: 0.4em 0.7em 0.5em 0.7em;
	font-size: 120%;
	color:#FFF;
	background-color:#19be78;
	text-decoration:none;
	cursor:pointer;
	border-radius:0.2em;
	transition:background-color 0.1s;

	i
	{
		margin: 0 0.3em 0 -0.1em;
	}
	&:hover
	{
		background-color: #00CB75;
	}
}

.environment-label
{
	width: 100%;
	font-size: 70%;
	padding: 2px 0px;
}

.environment-label.development { background-color: #E1D4E7; color: #551A8B; }
.environment-label.local { background-color: #B9C0E0; color: #4558A8; }

/*
 *	Login buttons
 */
.loginBtn
{
	a
	{
		padding: 0.3em 0.7em 0.4em 0.7em;
		font-size: 120%;
		min-width: 11em;
	}
	&#google a
	{
		background: #dd4b39;
		border-bottom-color: #bf3625;
		&:hover
		{
			background: #e74b37;
		}
	}
	&#facebook a
	{
		background: #3B5998;
		border-bottom-color: #2D4373;
		&:hover
		{
			background: #2D4373;
			border-bottom-color: #1e3057;
		}
	}
	&#twitter a
	{
		background: #55ACEE;
		border-bottom-color: #3178ad;
		&:hover
		{
			background: #2795E9;
		}
	}
}

/*
 *	Input elements
 */
select,
input
{
	margin: 0 0.3em;
	padding: 0.4em 0.3em 0.4em 0.4em;
	font-size: 100%;
	border-width: 0;
	border-radius: 0.2em;
}

select
{
	background-color: rgba(255, 255, 255, 0.4);
}
input
{
	color: #333;
	background-color: rgba(207, 207, 207, 0.80);

	&.number
	{
		margin: 0;
		width: 3em;
		text-align: center;
		border: none;
		background-color: rgba(255, 255, 255, 0.4);
		border-radius: 0;
	}
}
.numberBtn
{
	display: inline-block;
	position: relative;
	width:1em;
	padding: 0.3em 0.5em 0.4em 0.5em;
	font-weight: 900;
	color: #666;
	background-color: #FFF;
	text-align: center;
	z-index: 2;

	&#plus
	{
		margin: 0 0.3em 0 -0.3em;
		border-left: 0.1em solid #DDD;
		border-bottom-right-radius: 0.2em;
		border-top-right-radius: 0.2em;
	}
	&#minus
	{
		margin: 0 -0.3em 0 0.3em;
		border-right: 0.1em solid #DDD;
		border-bottom-left-radius: 0.2em;
		border-top-left-radius: 0.2em;
	}
}
.radio
{
	display: inline-flex;
	margin: 0 0.5em 0 0;
	vertical-align: middle;
	cursor: pointer;

	.option
	{
		margin: 0;
		padding: 0.4em 0.6em 0.5em 0.6em;
		color: rgba(255,255,255,0.6);
		color: rgba(69, 88, 168, 0.5);
		text-decoration: line-through;
		background-color: transparent;
		border:0.1em solid #4558a8;
		transition: background-color 0.1s ease, color 0.1s ease;

		&.active
		{
			color:#FFF;
			text-decoration: none;
			background-color: #4558a8;
			border-bottom: none;
		}
		&:first-child
		{
			border-top-left-radius: 0.3em;
			border-bottom-left-radius: 0.3em;
		}
		&:last-child
		{
			border-top-right-radius: 0.3em;
			border-bottom-right-radius: 0.3em;
		}
	}
}

.test
{
	animation: test;
}

/* Tablets and up ----------- */
@media only screen  and (min-width : 500px) {
	section
	{
		width: 500px;
		margin:auto;
	}
}
