<html>
	{{> header}}
	<body id="{{page}}">
		<div id="banner">
			<img src="/app/img/grouplanner_logo.png">
			<h1>Joining a group</h1>
		</div>

		<section>
			<h2>Invites only, sorry</h2>
			<p>
				Grouplanner works with an invite-only system to ensure security.
			</p>
			<p>
				Ask your group's admin to send you an invitation link. It can be found in the "Manage" tab of the planner view.
			</p>
			<br>
			<p>
				<a class="btn" href="javascript:history.back()">Back</a>
			</p>
		</section>
	</body>
</html>
