<html>
	<head>
		<title>Grouplanner</title>
		<meta name="description" content="Grouplanner, plan with groups .. duh!">
		<meta name="author" content="Joris Griffioen">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width user-scalable=no">
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="icon" type="image/vnd.microsoft.icon" href="favicon.png" />
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700" rel="stylesheet" type="text/css">
		<link href="css/grouplanner.css" rel="stylesheet" type="text/css">
	</head>
	<body id="create">
		<div id="banner">
			<img src="img/grouplanner_logo.png">
			<h1>So, what cha doin'?</h1>
			<p>
				Just tell us some things about your group and you'll be ready to go.
			</p>
		</div>

		<section id="form">
			<h2><span>Info</span></h2>
			<p>
				We're called <input id="name" type="text" placeholder="name" size="11"/>
			</p>
			<p>
				We want to plan 
				<select id="type" name="type">
					<option value="dates">dates</option>
					<option value="rehearsals">rehearsals</option>
					<option value="meetings">meetings</option>
				</select>
			</p>
			<p>
				Once every 
				<span id="minus" class="numberBtn">-</span>
				<input id="length" class="number" type="number" value="7"/>
				<span id="plus" class="numberBtn">+</span>
				days
			</p>
		</section>
		
		<section id="permissions">
			<h2><span>Permissions</span></h2>
			<p>
				<span id="planning" class="radio">
					<span class="option">Only I</span>
					<span class="option active">Everybody</span>
				</span>			
				can choose dates
			</p>
			<p>
				<span id="settings" class="radio">
					<span class="option active">Only I</span>
					<span class="option">Everybody</span>
				</span>
				can change settings
			</p>
		</section>
		<section>
			<p>
				<a id="createGroupBtn" class="btn">Start planning</a>
			</p>
			<p>
				<a id="nevermindBtn" href="help">I wanted to join an existing group</a>
			</p>
		</section>
	</body>
	<script src="lib/jquery-2.1.1.min.js"></script>
	<script src="lib/moment-with-locales.js"></script>
	<script src="js/create.js"></script>
</html>
