<html>
	<head>
		<title>Grouplanner</title>
		<meta name="description" content="Grouplanner, plan with groups .. duh!">
		<meta name="author" content="Joris Griffioen">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width user-scalable=no">
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="icon" type="image/vnd.microsoft.icon" href="favicon.png" />
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700" rel="stylesheet" type="text/css">
		<link href="css/grouplanner.css" rel="stylesheet" type="text/css">
	</head>
	<body id="index">
		<div id="logo">
			<img src="img/grouplanner_logo.png">
			<h1>So, what cha doin'?</h1>
		</div>

		<section>
			<div id="form">
				We're called <input id="name" type="text" placeholder="name" />
				And we want to plan 
				<select id="type" name="type">
					<option value="dates">dates</option>
					<option value="rehearsals">rehearsals</option>
					<option value="meetings">meetings</option>
				</select>
				Once every <input id="length" type="number" /> days
				<span id="planRight" class="radio">
					<span class="option">Only I</span>
					<span class="option">Everybody</span>
				</span>			
				can choose dates and 
				<span id="planRight" class="radio">
					<span class="option">Only I</span>
					<span class="option">Everybody</span>
				</span>
				can change settings.
			</div>
		</section>
		<section>
			<a id="createGroupBtn" class="btn" href="create">Start planning</a><br>
			<a id="nevermindBtn" href="#">I wanted to join an existing group</a>
		</section>
	</body>
	<script src="lib/jquery-2.1.1.min.js"></script>
	<script src="lib/moment-with-locales.js"></script>
	<script src="js/index.js"></script>
</html>
