<html>
	<head>
		<title>Grouplanner</title>
		<meta name="description" content="Grouplanner, plan with groups .. duh!">
		<meta name="author" content="Joris Griffioen">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width user-scalable=no">
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="icon" type="image/vnd.microsoft.icon" href="favicon.png" />
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700" rel="stylesheet" type="text/css">
		<link href="css/grouplanner.css" rel="stylesheet" type="text/css">
	</head>
	<body id="index">
		<div id="banner">
			<img src="img/grouplanner_logo.png">
			<h1>Joining a group</h1>
		</div>

		<section>
			<h2>Invites only, sorry</h2>
			<p>
				Grouplanner works with an invite-only system to ensure security.
			</p>
			<p>
				Ask your group's admin to send you an invitation link. It can be found under "Add member" at the bottom of the planner view.
			</p>
			<br>
			<p>
				<a class="btn" href="javascript:history.back()">Back</a><br><br><br>
				<a id="createGroupBtn" href="create">Doh, I wanted to create a new group!</a>
			</p>
		</section>
	</body>
	<script>{{{JShare}}}</script>
	<script src="lib/jquery-2.1.1.min.js"></script>
	<script src="lib/moment-with-locales.js"></script>
	<script src="js/index.js"></script>
</html>
