<html>
	{{> header}}
	<body id="{{page}}">
		<div id="banner">
			<img src="/www/img/grouplanner_logo.png">
			<h1>Welcome to GrouPlanner</h1>
		</div>

		<section>
			<p>Getting a everyone in a room regularly is hard. Grouplanner is here to help!</p>
			<p>Invite everybody, tap the days that you are available, pick a day. That's it.</p>
			<p>Let's create a group!</p>
		</section>

		<section>
			<h2>Please sign in to continue</h2>
			{{> loginButtons}}
		</section>
	</body>
</html>
