<html>
	<head>
		<title>Grouplanner</title>
		<meta name="description" content="Grouplanner, plan with groups .. duh!">
		<meta name="author" content="Joris Griffioen">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width user-scalable=no">
		<link rel="shortcut icon" href="www/favicon.ico">
		<link rel="icon" type="image/vnd.microsoft.icon" href="www/favicon.png" />
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700" rel="stylesheet" type="text/css">
		<link href="www/css/grouplanner.css" rel="stylesheet" type="text/css">
	</head>
	<body id="planner">

		<div id="header">
			<img id="logo" src="www/img/grouplanner_logo.png">
			<div id="settings">
				<div id="icon"><span>-</span><br><span>-</span><br><span>-</span><br></div>
				<div id="user">
					<img id="user" src="{{user.picture}}"/>
					<span>{{user.username}}</span>
				</div>
				<a class="btn" href="/logout">Log out</a>
			</div>
		</div>

		<div id='period-controls'>
			<div class='period-control-button prev'><span class='period-previous-button'>&lsaquo;</span></div>
			<div class='period'><span>07 sept - 13 sept</span></div>
			<div class='period-control-button next'><span class='period-next-button'>&rsaquo;</span></div>
		</div>

		<div id="availability">

		</div>

		<div id="group-info">
			<h1>In this group:</h1>

			<div id="users">
				<div class="user">
					<div class="img"><img src="http://lorempixel.com/100/100/people" /></div>
					<div class="name">Vla Smoel</div>
				</div>

				<div class="user">
					<div class="img"><img src="http://lorempixel.com/101/101/people" /></div>
					<div class="name">Frits Frummelveeg</div>
				</div>

				<div class="user">
					<div class="img"><img src="http://lorempixel.com/102/102/people" /></div>
					<div class="name">Joey Kakbek</div>
				</div>

				<div class="user">
					<div class="img"><img src="http://lorempixel.com/103/103/people" /></div>
					<div class="name">John de Snol</div>
				</div>

				<div class="user">
					<div class="img"><img src="http://lorempixel.com/104/104/people" /></div>
					<div class="name">Klaas Kleuter</div>
				</div>
			</div>
		</div>

	</body>
	<script>{{{JShare}}}</script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="www/lib/jquery-2.1.1.min.js"></script>
	<script src="www/lib/moment-with-locales.js"></script>
	<script src="www/lib/handlebars-v2.0.0.js"></script>
	<script src="www/js/handlebars-ext.js"></script>
	<script src="www/js/classes/App.js"></script>
	<script src="www/js/classes/Group.js"></script>
	<script src="www/js/classes/Period.js"></script>
	<script src="www/js/planner.js"></script>
</html>
