<html>
	<head>
		<title>Grouplanner</title>
		<meta name="description" content="Grouplanner, plan with groups .. duh!">
		<meta name="author" content="Joris Griffioen">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width user-scalable=no">
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="icon" type="image/vnd.microsoft.icon" href="favicon.png" />
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700" rel="stylesheet" type="text/css">
		<link href="css/style.css" rel="stylesheet" type="text/css">
		<link href="css/calendar.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<script type="text/template" id="clndr-template">
			<div class='clndr-controls'>
				<div class='clndr-control-button'><span class='clndr-previous-button'>&lsaquo;</span></div>
				<div class='month'><%= month %> <%= year %></div>
				<div class='clndr-control-button rightalign'><span class='clndr-next-button'>&rsaquo;</span></div>
			</div>
			<table class='clndr-table' border='0' cellspacing='0' cellpadding='0'>
				<thead>
					<tr class='header-days'>
						<% for(var i = 0; i < daysOfTheWeek.length; i++) { %>
							<td class='header-day'><%= daysOfTheWeek[i] %></td>
						<% } %>
					</tr>
				</thead>

				<tbody>
					<% for(var i = 0; i < numberOfRows; i++){ %>
						<tr>
							<% for(var j = 0; j < 7; j++){ %>
								<% var d = j + i * 7; %>
								<td class='<%= days[d].classes %>'>
									<div class='day-contents'>
										<%= days[d].day %>
									</div>
								</td>
							<% } %>
						</tr>
					<% } %>
				</tbody>
			</table>
		</script>
		<div id="calendar"></div>
	</body>
	<script src="lib/jquery-2.1.1.min.js"></script>
	<script src="lib/moment-with-locales.js"></script>
	<script src="lib/underscore-min.js"></script>
	<script src="lib/clndr.min.js"></script>
	<script src="js/planner.js"></script>
</html>