<div class="view" id="home">
    <header>
        <div>
            <img src="/assets/img/grouplanner_logo.png">
            <h1>Welcome to Grouplanner</h1>
            <p>Getting everyone in a room <b>regularly</b> is hard. Grouplanner is here to help.</p>
            <p><a class="btn" href="login">Get started</a></p>
        </div>
    </header>
    <section>
        <h2>How it works</h2>
        <p>Grouplanner is as easy as one-two-three:</p>
        <ul class="steps">
            <li><span class="num one">1</span> <span class="text">Invite everybody</span></li>
            <li><span class="num two">2</span> <span class="text">Tap the days you are available</span></li>
            <li><span class="num three">3</span> <span class="text">Pick a date!</span></li>
        </ul>
    </section>
    <section>
        <h2>Why use Grouplanner?</h2>
        <p>Because it rocks! And we know the pain of keeping a group or team going. Using Grouplanner allows you to focus on <i>what</i> you're doing instead of <i>when</i>.</p>
        <p><a class="btn" href="login">Sign up</a> <a class="btn" href="login">Login</a></p>
    </section>
    <footer>
        <p>Grouplanner is the brainchild of Joris Griffioen and Niels Overwijn and in <b>extreme</b> beta form right now. Use at your own risk.</p>
    </footer>
</div>
