&.planned
{
	.plannedDate
	{
		text-align: center;
		background-color:#FFF;
		border-radius:0.2em;
		overflow:hidden;
		box-shadow: 0 0.1em 0.2em 0 rgba(0, 0, 0, 0.08);
		
		.day
		{
			padding:1em;
		
			.name
			{
				.icon
				{
					display:inline-block;
					margin:0 0 0 0.2em;
					font-size:90%;
					vertical-align: middle;
				}
				color:#c1c1c1;
				font-size:220%;
				margin:0 0 0.5em 0.5em;
			}
			.date
			{
				display: inline-block;
				padding: 0.3em 0.5em 0.3em 0.5em;
				font-size: 150%;
				color: #FFF;
				background-color: #2CC282;
				border-radius:0.2em;
			}
		}

		.available
		{
			padding:1em;
			
			.user
			{
				display:inline-block;
				margin: 0 0.5em;
				
				.img
				{
					margin:0 0.5em 0.6em 0.5em;
					width:2em;
					height:2em;
					border-radius:100%;
					overflow:hidden;
					box-shadow: 0 0.05em 0.1em 0.1em rgba(0, 0, 0, 0.2);
					img
					{
						width:100%;
						height:100%;
					}
				}
				.name
				{
					font-size:60%;
					color: #888;
				}
			}
			&:after
			{
				display: block;
				content: "";
				clear: both;
			}
		}
	}

	.notes
	{
		color:#333;
		background-color: #F2FA8D;
		
		h3
		{
			margin:0;
			padding:0.5em;
			font-size:100%;
			text-align:center;
			background-color: #f5ff82;
		}
		.content
		{
			width:100%;
			min-height:10em;
			padding:1em 2em;
			border:none;
			background-color: transparent;
			font-family: inherit;
			font-size:105%;
			color: #6E6E6E;
		}
	}
	
	.buttons
	{
		padding:1em 0 0 0;
		
		.btn
		{
			display:block;
			margin:0 0 0.5em 0;
			font-size: 100%;
		}
		#mail
		{
			background-color: #35969f;
			&:hover
			{
				background-color: #02afbf;
			}
		}
		.addthisevent-drop
		{
			display: block;
			margin: 0 0 0.5em 0;
			padding: 0.4em 0.7em 0.5em 0.7em;
			background-color: #555596;
			background-image: none;
			color: #FFF !important;
			font-size: 100%;
			font-weight: 400;
			font-family: inherit;
			cursor: pointer;
			border-radius: 0.2em;
			border: none;
		
			&:hover
			{
				background-color: #4a4aaa;
			}
		}
		#replan
		{
			background-color: #DA504A;
			&:hover
			{
				background-color: #f8362d;
			}
		}
	}
}
