&#planner
{
	
	#period-controls
	{	
		display:flex;
		justify-content:space-between;
		text-align: center;
		height:4em;
		margin-bottom:1em;
	
		.period-control-button
		{	
			display: flex;
			justify-content: center;
			align-items: center;
			width:20%;
			font-size: 180%;
			font-weight: 700;
			color:#333;
		}
		.period
		{	
			display: flex;
			justify-content: center;
			align-items: center;
			width:60%;
			font-size: 140%;
			font-weight: 300;
			color:#333;
		}
	}
	
	#availability
	{
		width:100%;
		
		.period
		{
			.wrapper
			{
				border-radius: 0.15em;
				overflow:hidden;
				margin-bottom:1em;
				box-shadow: 0 0.1em 0.2em 0 rgba(0, 0, 0, 0.08);
			}
				.header
				{
					width:100%;
					padding: 0.2em 0 0.3em 0;
					background-color:#F9F9F9;
					font-size:85%;
					font-style: italic;
					text-align:center;
					color: #9E9E9E;
				}
	
			&.availability
			{
				#avail-days
				{
					display: flex;
					justify-content: space-between;
					width:100%;
					text-align: center;
					overflow: hidden;

					.day
					{
						width:100%;
						padding: 0.6em 0em 0.6em 0em;
						background-color:#FFF;

						.day-name{}
						.day-date
						{
							font-size: 70%;
							color: #9d9d9d;
						}

						&.available
						{
							color:#FFF;
							background-color:#5ED963;

							.day-date
							{
								color: #FFF !important;
							}
						}
					}
				}

				#avail-plan
				{
					width:100%;
					text-align: center;
					overflow: hidden;

					.day
					{
						position: relative;
						display:flex;
						flex-direction: row;
						align-items: stretch;
						width:100%;
						height: 1.6em;
						padding: 0;
						background-color:#F2F0F2;

						.label
						{
							height:100%;
							padding:0 0.5em;
							width:3em;
							flex-basis: 3em;
							flex-shrink: 0;
							flex-grow: 0;

							.day-date
							{
								font-weight: 300;
								display: inline-block;
								font-size: 80%;
								color:#AAA;
							}
							.day-name
							{
								display: inline-block;
								font-size: 80%;
								color:#AAA;	
							}
						}

						.bar
						{
							height:0.5em;
							width: 100%;
							margin:0.5em 0.5em 0.5em 0;
							background-color:#EEE;

							.bar-content
							{
								position: relative;
								background-color: #e0e0e0;
								height:100%;
								width:0%;
								border-radius: 0.2em;
								transition:width 0.2s ease, background-color 0.2s ease;
							}
						}

						.go-btn
						{
							display:none;
							opacity: 0;
							position:absolute;
							bottom:0.5em;
							right:0.5em;
							padding: 0.2em 0.7em 0.3em 0.7em;
							color:#888;
							background-color:#F0F0F0;
							cursor: pointer;
							transition: opacity 0.1s ease 1s;
						}

						&.doable,
						&.go
						{
							height: 4.5em;
							border-top: 0.15em solid #F2F0F2;
							border-bottom: 0.15em solid #F2F0F2;
							margin:-0.15em 0 0 0;
							background-color:#FFF;
							transition:height 0.2s ease;

							.label
							{
								padding:0.5em;

								.day-name
								{
									display: block;
									font-size: 110%;
									font-weight: 400;
									color:#555;
								}
								.day-date
								{
									display: block;
									font-size: 110%;
								}
							}

							.bar
							{
								height:1em;
							}
						}

						&.doable
						{
							.go-btn
							{
								display:block;
								opacity: 1;
							}
							.bar-content
							{
								background-color:#a0e6a4;
							}
						}
						&.go
						{
							.go-btn
							{
								display:block;
								opacity: 1;
								color:#FFF;
								background-color:#5ed963;
							}
							.bar-content
							{
								background-color:#5ed963;
							}
						}

						&:first-child
						{
							border-top: none !important;
						}
						&:last-child
						{
							border-bottom: none !important;
						}
					}
				}
			}

			&.planned
			{
				
				
				#plannedDate
				{
					text-align: center; 
					
					#day
					{
						padding:1em;
						background-color:#FFF;

						.name
						{
							color:#333;
							font-size:140%;
							width:4em;
							margin:0 auto 0.5em auto;
							padding-bottom: 0.5em;
							border-bottom: 0.2em solid #5ed963;
						}
						.date
						{
							display: inline-block;
							color:#c1c1c1;
							font-size:220%;
						}
						.month
						{
							display: inline-block;
							color:#c1c1c1;
							font-size:180%;
						}
					}	
				}

				#available
				{
					margin: -1em 0 1em 0;
					color:#999;
					padding:0.5em;
				}

				#notes
				{
					padding:2em;
					min-height:10em;
					color:#333;
					background-color:#e7ef85;
				}
			}
		}
	}
}