&#planner
{
	
	#header
	{
		height:2em;
		padding:1em;
		background-color:white;
		border-bottom: 0.2em #CDBDFF solid;
		
		#logo
		{
			float:left;
			height:2em;
			margin:0 1em 0 0.5em;
		}
		
		#name
		{
			float:left;
			font-size:140%;
			font-weight: 500;
			color:#555;
		}
		
		#settings
		{
			position:absolute;
			top:0.5em;
			right:0.5em;
			max-height:0em;
			width:3em;
			height: auto;
			padding-top:3em;
			overflow:hidden;
			transition:	all 0.5s ease;
			z-index:20;
			box-shadow: 0em 0em 0em rgba(0, 0, 0, 0.5);
			
			#icon
			{
				position:absolute;
				top:0;
				right:0;
				height:3em;
				width:3em;
				background-color:#FFF;
				
				/* Lazy man's icon */
				padding-top: 0.5em;
				height:2.5em;
				text-align: center;
				span
				{
					font-size:200%;
					line-height:0.01em;
				}
			}
			
			#user
			{
				position: relative;
				height:6em;
				overflow:hidden;
				margin:0 0 0.5em 0;
				
				img
				{
					margin-top: -3em;
					width: 16em;
					height: 16em;
				}
				
				span
				{
					position:absolute;
					left:1em;
					bottom: 0.5em;
					color:#FFF;
					font-size: 120%;
					font-weight: 600;
				}
			}
			
			.btn
			{
				margin: 1em;
				font-size: 110%;
			}
			
			&.open
			{
				max-height:120%;
				width:16em;
				padding:3em 0 0 0;
				background-color:#FFF;
				box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.5);
				
				#icon
				{
					background-color: #FFF;
				}
			}
		}
	}
	
	#period
	{
		background-color: #DDD;
		padding-bottom:2em;
		
		#period-controls
		{	
			display:flex;
			justify-content:space-between;
			text-align: center;
			height:4em;
			padding: 0.5em;
			background-color: #E5E5E5;
			
			.period-control-button
			{	
				display: flex;
				justify-content: center;
				align-items: center;
				width:20%;
				font-size: 180%;
				font-weight: 700;
				color:#333;
			}
			.period
			{	
				display: flex;
				justify-content: center;
				align-items: center;
				width:60%;
				font-size: 140%;
				font-weight: 300;
				color:#333;
			}
		}

		#periods
		{
			padding: 1em;

			.period
			{
				.wrapper
				{
					border-radius: 0.15em;
					overflow:hidden;
					margin-bottom:1em;
					box-shadow: 0 0.1em 0.2em 0 rgba(0, 0, 0, 0.08);
				}
					.header
					{
						width:100%;
						padding: 0.2em 0 0.3em 0;
						background-color:#F9F9F9;
						font-size:85%;
						font-style: italic;
						text-align:center;
						color: #9E9E9E;
					}

				@import 'imports/period-availability';
				@import 'imports/period-planned';
			}
		}
	}
	
	#group
	{
		color:#FFF;
		background-color: #38CA8C;

		h1
		{	
			text-align: center;
			margin:0 0 0.5em 0;
			padding:0.5em;
			background-color: #2CC282;
			color: #FFF;
			font-weight: 300;
		}

		#users
		{
			display:flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			padding: 0.5em;

			.user
			{
				width: 33%;
				text-align: center;
				margin: 0em 0 1em 0;

				.img
				{
					width: 5em;
					height: 5em;
					margin: 0em auto 0.5em auto;
					background-color: #FFF;
					border-radius: 100%;
					overflow:hidden;

					img
					{
						width:100%;
						height:100%;
					}
				}
				.name
				{
					font-size: 80%;
					padding: 0 1em;
				}
			}
			
			#invite-btn
			{
				width: 33%;
				text-align: center;
				margin: 0em 0 1em 0;
				
				#icon
				{
					width: 5em;
					height: 5em;
					margin: 0em auto 0.5em auto;
					background-color: #FFF;
					border-radius: 100%;
					overflow:hidden;
				}
				#title
				{
					font-size: 80%;
					padding: 0 1em;
				}
			}
			
		}
		
		#info
		{
			padding: 1em;	
			
			h2
			{
				color:#FFF;
			}
		}
	}
}