html {
  width: 100%;
  height: 100%;
  font-family: Roboto, "sans-serif";
  background-color: #E0E0E0; }

body {
  padding: 0;
  margin: 0; }
  body #banner {
    padding: 2em 2em 0 2em;
    background-color: white;
    border-bottom: 10px #CDBDFF solid; }
    body #banner img {
      height: 15%;
      max-height: 540px; }
  body#index {
    text-align: center; }
    body#index #banner {
      padding: 2em 2em 0 2em; }
      body#index #banner img {
        height: 15%;
        max-height: 540px; }
    body#index section {
      padding: 1em 2em; }
  body#login {
    text-align: center; }
  body .loginBtn a {
    padding: 0.3em 0.7em 0.4em 0.7em;
    font-size: 120%;
    min-width: 11em; }
  body #google .btn {
    background: #dd4b39;
    border-bottom-color: #bf3625; }
  body #google .btn:hover {
    background: #e74b37; }
  body #facebook .btn {
    background: #3B5998;
    border-bottom-color: #2D4373; }
  body #facebook .btn:hover {
    background: #2D4373;
    border-bottom-color: #1e3057; }
  body #twitter .btn {
    background: #55ACEE;
    border-bottom-color: #3178ad; }
  body #twitter .btn:hover {
    background: #2795E9; }
  body#create {
    text-align: center; }
    body#create #banner {
      padding: 1.5em 2em 0 2em; }
      body#create #banner img {
        height: 10%;
        float: left; }
      body#create #banner h1 {
        color: #9736CA; }
      body#create #banner p {
        color: #697DD3; }
    body#create h2 {
      position: relative;
      text-align: center; }
      body#create h2 span {
        position: relative;
        padding: 0 0.7em;
        background-color: #E0E0E0;
        z-index: 2; }
      body#create h2:before {
        content: "";
        display: block;
        border-top: solid 1px #D0D0D0;
        width: 100%;
        height: 1px;
        position: absolute;
        top: 50%;
        z-index: 1; }
    body#create section {
      padding: 1em 1em 2em 1em; }
      body#create section#form {
        text-align: left;
        font-size: 110%; }
        body#create section#form p {
          padding: 0 1em; }
      body#create section#permissions {
        text-align: left;
        padding: 0em 1em 2em 1em;
        border-bottom: 10px #CDBDFF solid; }
      body#create section:last-of-type {
        background-color: #FAFAFA; }
    body#create a {
      margin-bottom: 0.5em; }
  body#group #header {
    height: 2em;
    padding: 1em;
    background-color: #2CC282; }
    body#group #header #logo {
      float: left;
      height: 2em;
      margin: 0 1em 0 0.5em; }
    body#group #header #back {
      float: left; }
      body#group #header #back span {
        font-size: 140%;
        font-weight: 500;
        color: #FFF; }
      body#group #header #back i {
        font-size: 120%; }
    body#group #header #logout {
      float: right;
      padding: 0.3em 0 0 0; }
      body#group #header #logout i {
        color: rgba(255, 255, 255, 0.5); }
    body#group #header a {
      text-decoration: none; }
    body#group #header i {
      color: #FFF;
      font-size: 150%;
      vertical-align: middle; }
  body#group #period {
    color: #ADADAD;
    padding-bottom: 2em; }
    body#group #period #period-controls {
      display: flex;
      justify-content: space-between;
      text-align: center;
      height: 4em;
      padding: 1em 0.5em 0 0.5em; }
      body#group #period #period-controls .period-control-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        font-size: 180%;
        font-weight: 700;
        color: #333; }
        body#group #period #period-controls .period-control-button div {
          color: #999;
          border-radius: 100%;
          padding: 0.3em;
          font-size: 100%; }
      body#group #period #period-controls .period {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        font-size: 140%;
        font-weight: 300;
        color: #999; }
    body#group #period #periods {
      padding: 1em; }
      body#group #period #periods .period .wrapper {
        border-radius: 0.15em;
        overflow: hidden;
        margin-bottom: 1em;
        box-shadow: 0 0.1em 0.2em 0 rgba(0, 0, 0, 0.08); }
      body#group #period #periods .period .header {
        width: 100%;
        padding: 0.2em 0 0.3em 0;
        background-color: #F9F9F9;
        font-size: 85%;
        font-style: italic;
        text-align: center;
        color: #9E9E9E; }
      body#group #period #periods .period.availability #avail-days {
        display: flex;
        justify-content: space-between;
        width: 100%;
        text-align: center;
        overflow: hidden; }
        body#group #period #periods .period.availability #avail-days .day {
          width: 100%;
          padding: 0.6em 0em 0.6em 0em;
          background-color: #FFF; }
          body#group #period #periods .period.availability #avail-days .day .day-date {
            font-size: 70%;
            color: #9d9d9d; }
          body#group #period #periods .period.availability #avail-days .day.available {
            color: #FFF;
            background-color: #27ED99; }
            body#group #period #periods .period.availability #avail-days .day.available .day-date {
              color: #FFF !important; }
      body#group #period #periods .period.availability #avail-plan {
        width: 100%;
        text-align: center;
        overflow: hidden; }
        body#group #period #periods .period.availability #avail-plan .day {
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: stretch;
          width: 100%;
          height: 3.3em;
          padding: 0;
          background-color: #F2F0F2;
          border-top: 0.1em solid #F2F0F2;
          border-bottom: 0.1em solid #F2F0F2; }
          body#group #period #periods .period.availability #avail-plan .day .label {
            height: 100%;
            padding: 0.4em 0.5em;
            width: 3em;
            flex-basis: 3em;
            flex-shrink: 0;
            flex-grow: 0; }
            body#group #period #periods .period.availability #avail-plan .day .label .day-date {
              font-weight: 300;
              display: inline-block;
              font-size: 80%;
              color: #AAA; }
            body#group #period #periods .period.availability #avail-plan .day .label .day-name {
              display: inline-block;
              font-size: 80%;
              color: #AAA; }
          body#group #period #periods .period.availability #avail-plan .day .bar {
            height: 1em;
            width: 100%;
            margin: 0.7em 0.5em 0.5em 0;
            background-color: #EEE; }
            body#group #period #periods .period.availability #avail-plan .day .bar .bar-content {
              position: relative;
              background-color: #e0e0e0;
              height: 100%;
              width: 0%;
              border-radius: 0.2em;
              transition: width 0.2s ease, background-color 0.2s ease; }
          body#group #period #periods .period.availability #avail-plan .day .go-btn {
            height: 1.5em;
            width: 5em;
            margin: 0.7em 0.5em 0.5em 0;
            padding: 0.2em 0.7em 0.2em 0.7em;
            opacity: 0.5;
            color: #888;
            background-color: #DADADA;
            cursor: pointer;
            transition: background-color 0.2s ease, color 0.2s ease, opacity 0.2s ease;
            border-radius: 0.2em; }
            body#group #period #periods .period.availability #avail-plan .day .go-btn i {
              margin: 0 0 0 0.5em;
              vertical-align: middle; }
          body#group #period #periods .period.availability #avail-plan .day.doable, body#group #period #periods .period.availability #avail-plan .day.go {
            background-color: #FFF;
            transition: height 0.2s ease; }
            body#group #period #periods .period.availability #avail-plan .day.doable .label .day-name, body#group #period #periods .period.availability #avail-plan .day.go .label .day-name {
              font-weight: 400;
              color: #555; }
            body#group #period #periods .period.availability #avail-plan .day.doable .go-btn, body#group #period #periods .period.availability #avail-plan .day.go .go-btn {
              opacity: 1; }
          body#group #period #periods .period.availability #avail-plan .day.doable .bar-content {
            background-color: #a2e3b1; }
          body#group #period #periods .period.availability #avail-plan .day.go .go-btn {
            color: #FFF;
            background-color: #5480DD; }
          body#group #period #periods .period.availability #avail-plan .day.go .bar-content {
            background-color: #27ED99; }
          body#group #period #periods .period.availability #avail-plan .day:first-child {
            border-top: none !important; }
          body#group #period #periods .period.availability #avail-plan .day:last-child {
            border-bottom: none !important; }
      body#group #period #periods .period.planned #plannedDate {
        text-align: center; }
        body#group #period #periods .period.planned #plannedDate #day {
          padding: 1em;
          background-color: #FFF; }
          body#group #period #periods .period.planned #plannedDate #day .name {
            color: #333;
            font-size: 140%;
            width: 4em;
            margin: 0 auto 0.5em auto;
            padding-bottom: 0.5em;
            border-bottom: 0.2em solid #5ed963; }
          body#group #period #periods .period.planned #plannedDate #day .date {
            display: inline-block;
            color: #c1c1c1;
            font-size: 220%; }
          body#group #period #periods .period.planned #plannedDate #day .month {
            display: inline-block;
            color: #c1c1c1;
            font-size: 180%; }
      body#group #period #periods .period.planned #available {
        margin: -1em 0 1em 0;
        color: #999;
        padding: 0.5em; }
      body#group #period #periods .period.planned #notes {
        padding: 2em;
        min-height: 10em;
        color: #333;
        background-color: #e7ef85; }
  body#group #group {
    padding: 0 0 1em 0;
    color: #FFF;
    background-color: #4E37A1; }
    body#group #group h1 {
      text-align: center;
      margin: 0 0 0.5em 0;
      padding: 0.5em;
      background-color: #452D9B;
      color: #FFF;
      font-weight: 300; }
    body#group #group #users {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding: 0.5em; }
      body#group #group #users .user {
        width: 33%;
        text-align: center;
        margin: 0em 0 1em 0; }
        body#group #group #users .user .img {
          width: 5em;
          height: 5em;
          margin: 0em auto 0.5em auto;
          background-color: #FFF;
          border-radius: 100%;
          overflow: hidden; }
          body#group #group #users .user .img img {
            width: 100%;
            height: 100%; }
        body#group #group #users .user .name {
          font-size: 80%;
          padding: 0 1em; }
      body#group #group #users #invite-btn {
        width: 33%;
        text-align: center;
        margin: 0em 0 1em 0; }
        body#group #group #users #invite-btn #icon {
          width: 2em;
          height: 2em;
          padding: 1.5em;
          margin: 0em auto 0.5em auto;
          background-color: #FFF;
          border-radius: 100%;
          overflow: hidden; }
          body#group #group #users #invite-btn #icon i {
            font-size: 2em;
            color: #DDD; }
        body#group #group #users #invite-btn #title {
          font-size: 80%;
          padding: 0 1em; }
    body#group #group #info {
      position: relative;
      margin: 1em;
      padding: 1em;
      border-radius: 0.15em;
      color: #555;
      background-color: #FFF;
      box-shadow: 0 0.1em 0.2em 0 rgba(0, 0, 0, 0.08); }
      body#group #group #info h2 {
        margin: 0; }
      body#group #group #info i {
        position: absolute;
        top: 1em;
        right: 1em; }
  body#groups {
    text-align: center; }
    body#groups #header {
      height: 2em;
      padding: 1em;
      background-color: white;
      border-bottom: 0.2em #CDBDFF solid; }
      body#groups #header #logo {
        float: left;
        height: 2em;
        margin: 0 0 0 0.5em; }
      body#groups #header span {
        font-size: 140%;
        font-weight: 500;
        color: #555; }
      body#groups #header #logout {
        float: right;
        padding: 0.3em 0 0 0; }
        body#groups #header #logout i {
          color: rgba(0, 0, 0, 0.25); }
      body#groups #header a {
        text-decoration: none; }
      body#groups #header i {
        color: #555;
        font-size: 150%;
        vertical-align: middle; }
    body#groups .group {
      display: block;
      margin: 1em;
      border-radius: 0.1em;
      background-color: #FFF;
      text-decoration: none;
      color: #333;
      box-shadow: 0 0.1em 0.2em 0 rgba(0, 0, 0, 0.08); }
      body#groups .group h3 {
        position: relative;
        padding: 0.5em;
        margin: 0;
        font-weight: 400;
        color: #FFF;
        text-align: left;
        background-color: #2CC282; }
        body#groups .group h3 i {
          position: absolute;
          top: 0.6em;
          right: 0.5em;
          color: #FFF; }
      body#groups .group .members {
        padding: 0.5em; }
        body#groups .group .members .member {
          width: 2em;
          height: 2em;
          border-radius: 100%;
          overflow: hidden;
          opacity: 0.5; }
          body#groups .group .members .member img {
            width: 100%;
            height: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

h1 {
  font-size: 150%; }

h2 {
  font-size: 120%;
  font-style: italic;
  color: #666; }

i {
  vertical-align: middle; }

.btn {
  display: inline-block;
  padding: 0.4em 0.7em 0.5em 0.7em;
  font-size: 120%;
  color: #FFF;
  background-color: #19be78;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.2em;
  transition: background-color 0.1s; }
  .btn i {
    margin: 0 0.3em 0 -0.1em;
    vertical-align: middle; }
  .btn:hover {
    background-color: #00CB75; }

input {
  margin: 0 0.3em;
  color: #333;
  background-color: rgba(207, 207, 207, 0.8);
  padding: 0.4em 0.3em 0.4em 0.4em;
  font-size: 100%;
  border-width: 0;
  border-radius: 0.2em; }
  input.number {
    margin: 0;
    width: 3em;
    text-align: center;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0; }

.numberBtn {
  display: inline-block;
  position: relative;
  width: 1em;
  padding: 0.3em 0.5em 0.4em 0.5em;
  font-weight: 900;
  color: #666;
  background-color: #FFF;
  text-align: center;
  z-index: 2; }
  .numberBtn#plus {
    margin: 0 0.3em 0 -0.3em;
    border-left: 0.1em solid #DDD;
    border-bottom-right-radius: 0.2em;
    border-top-right-radius: 0.2em; }
  .numberBtn#minus {
    margin: 0 -0.3em 0 0.3em;
    border-right: 0.1em solid #DDD;
    border-bottom-left-radius: 0.2em;
    border-top-left-radius: 0.2em; }

select {
  margin: 0 0.3em;
  padding: 0.4em 0.3em 0.4em 0.4em;
  font-size: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  border-width: 0;
  border-radius: 0.2em; }

.radio {
  display: inline-flex;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
  cursor: pointer; }
  .radio .option {
    margin: 0;
    padding: 0.4em 0.6em 0.5em 0.6em;
    color: rgba(255, 255, 255, 0.6);
    color: rgba(69, 88, 168, 0.5);
    text-decoration: line-through;
    background-color: transparent;
    border: 0.1em solid #4558a8;
    transition: background-color 0.1s ease, color 0.1s ease; }
    .radio .option.active {
      color: #FFF;
      text-decoration: none;
      background-color: #4558a8;
      border-bottom: none; }
    .radio .option:first-child {
      border-top-left-radius: 0.3em;
      border-bottom-left-radius: 0.3em; }
    .radio .option:last-child {
      border-top-right-radius: 0.3em;
      border-bottom-right-radius: 0.3em; }

hr {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #D0D0D0; }
