html {
  width: 100%;
  height: 100%;
  font-family: Roboto, "sans-serif";
  background-color: #E0E0E0; }

body {
  padding: 0;
  margin: 0; }
  body #banner {
    padding: 2em 2em 0 2em;
    background-color: white;
    border-bottom: 10px #CDBDFF solid; }
    body #banner img {
      height: 15%;
      max-height: 540px; }
  body#index {
    text-align: center; }
    body#index #banner {
      padding: 2em 2em 0 2em; }
      body#index #banner img {
        height: 15%;
        max-height: 540px; }
    body#index section {
      padding: 1em 2em; }
  body#login {
    text-align: center; }
    body#login #google .btn {
      background: #dd4b39;
      border-bottom-color: #bf3625; }
    body#login #google .btn:hover {
      background: #e74b37; }
    body#login #facebook .btn {
      background: #3B5998;
      border-bottom-color: #2D4373; }
    body#login #facebook .btn:hover {
      background: #2D4373;
      border-bottom-color: #1e3057; }
    body#login #twitter .btn {
      background: #55ACEE;
      border-bottom-color: #3178ad; }
    body#login #twitter .btn:hover {
      background: #2795E9; }
  body#create {
    text-align: center; }
    body#create #banner {
      padding: 1.5em 2em 0 2em; }
      body#create #banner img {
        height: 10%;
        float: left; }
      body#create #banner h1 {
        color: #9736CA; }
      body#create #banner p {
        color: #697DD3; }
    body#create h2 {
      position: relative;
      text-align: center; }
      body#create h2 span {
        position: relative;
        padding: 0 0.7em;
        background-color: #E0E0E0;
        z-index: 2; }
      body#create h2:before {
        content: "";
        display: block;
        border-top: solid 1px #D0D0D0;
        width: 100%;
        height: 1px;
        position: absolute;
        top: 50%;
        z-index: 1; }
    body#create section {
      padding: 0em 1em 0 1em; }
      body#create section#form {
        text-align: left;
        font-size: 110%; }
        body#create section#form p {
          padding: 0 1em; }
      body#create section#permissions {
        text-align: left;
        padding: 1px 1em 1em 1em;
        border-bottom: 10px #CDBDFF solid; }
      body#create section:last-of-type {
        padding: 1em;
        background-color: #FAFAFA; }
    body#create a {
      margin-bottom: 0.5em; }
  body #group-info h1 {
    width: 100%;
    font-weight: 300;
    font-size: 140%;
    font-style: italic; }
  body #group-info #users {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%; }
    body #group-info #users .user {
      width: 33%;
      text-align: center;
      margin: 0em 0 1em 0; }
      body #group-info #users .user .img {
        width: 5em;
        height: 5em;
        margin: 0em auto 0.5em auto;
        background-color: #FFF;
        border-radius: 100%;
        overflow: hidden; }
        body #group-info #users .user .img img {
          width: 100%;
          height: 100%; }
      body #group-info #users .user .name {
        font-size: 80%;
        padding: 0 1em; }
  body#planner {
    padding: 0.5em; }
    body#planner #period-controls {
      display: flex;
      justify-content: space-between;
      text-align: center;
      height: 4em;
      margin-bottom: 1em; }
      body#planner #period-controls .period-control-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        font-size: 180%;
        font-weight: 700;
        color: #333; }
      body#planner #period-controls .period {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        font-size: 140%;
        font-weight: 300;
        color: #333; }
    body#planner #availability {
      width: 100%; }
      body#planner #availability .period .wrapper {
        border-radius: 0.15em;
        overflow: hidden;
        margin-bottom: 1em;
        box-shadow: 0 0.1em 0.2em 0 rgba(0, 0, 0, 0.08); }
      body#planner #availability .period .header {
        width: 100%;
        padding: 0.2em 0 0.3em 0;
        background-color: #F9F9F9;
        font-size: 85%;
        font-style: italic;
        text-align: center;
        color: #9E9E9E; }
      body#planner #availability .period.availability #avail-days {
        display: flex;
        justify-content: space-between;
        width: 100%;
        text-align: center;
        overflow: hidden; }
        body#planner #availability .period.availability #avail-days .day {
          width: 100%;
          padding: 0.6em 0em 0.6em 0em;
          background-color: #FFF; }
          body#planner #availability .period.availability #avail-days .day .day-date {
            font-size: 70%;
            color: #9d9d9d; }
          body#planner #availability .period.availability #avail-days .day.available {
            color: #FFF;
            background-color: #5ED963; }
            body#planner #availability .period.availability #avail-days .day.available .day-date {
              color: #FFF !important; }
      body#planner #availability .period.availability #avail-plan {
        width: 100%;
        text-align: center;
        overflow: hidden; }
        body#planner #availability .period.availability #avail-plan .day {
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: stretch;
          width: 100%;
          height: 1.6em;
          padding: 0;
          background-color: #F2F0F2; }
          body#planner #availability .period.availability #avail-plan .day .label {
            height: 100%;
            padding: 0 0.5em;
            width: 3em;
            flex-basis: 3em;
            flex-shrink: 0;
            flex-grow: 0; }
            body#planner #availability .period.availability #avail-plan .day .label .day-date {
              font-weight: 300;
              display: inline-block;
              font-size: 80%;
              color: #AAA; }
            body#planner #availability .period.availability #avail-plan .day .label .day-name {
              display: inline-block;
              font-size: 80%;
              color: #AAA; }
          body#planner #availability .period.availability #avail-plan .day .bar {
            height: 0.5em;
            width: 100%;
            margin: 0.5em 0.5em 0.5em 0;
            background-color: #EEE; }
            body#planner #availability .period.availability #avail-plan .day .bar .bar-content {
              position: relative;
              background-color: #e0e0e0;
              height: 100%;
              width: 0%;
              border-radius: 0.2em;
              transition: width 0.2s ease, background-color 0.2s ease; }
          body#planner #availability .period.availability #avail-plan .day .go-btn {
            display: none;
            opacity: 0;
            position: absolute;
            bottom: 0.5em;
            right: 0.5em;
            padding: 0.2em 0.7em 0.3em 0.7em;
            color: #888;
            background-color: #F0F0F0;
            cursor: pointer;
            transition: opacity 0.1s ease 1s; }
          body#planner #availability .period.availability #avail-plan .day.doable, body#planner #availability .period.availability #avail-plan .day.go {
            height: 4.5em;
            border-top: 0.15em solid #F2F0F2;
            border-bottom: 0.15em solid #F2F0F2;
            margin: -0.15em 0 0 0;
            background-color: #FFF;
            transition: height 0.2s ease; }
            body#planner #availability .period.availability #avail-plan .day.doable .label, body#planner #availability .period.availability #avail-plan .day.go .label {
              padding: 0.5em; }
              body#planner #availability .period.availability #avail-plan .day.doable .label .day-name, body#planner #availability .period.availability #avail-plan .day.go .label .day-name {
                display: block;
                font-size: 110%;
                font-weight: 400;
                color: #555; }
              body#planner #availability .period.availability #avail-plan .day.doable .label .day-date, body#planner #availability .period.availability #avail-plan .day.go .label .day-date {
                display: block;
                font-size: 110%; }
            body#planner #availability .period.availability #avail-plan .day.doable .bar, body#planner #availability .period.availability #avail-plan .day.go .bar {
              height: 1em; }
          body#planner #availability .period.availability #avail-plan .day.doable .go-btn {
            display: block;
            opacity: 1; }
          body#planner #availability .period.availability #avail-plan .day.doable .bar-content {
            background-color: #a0e6a4; }
          body#planner #availability .period.availability #avail-plan .day.go .go-btn {
            display: block;
            opacity: 1;
            color: #FFF;
            background-color: #5ed963; }
          body#planner #availability .period.availability #avail-plan .day.go .bar-content {
            background-color: #5ed963; }
          body#planner #availability .period.availability #avail-plan .day:first-child {
            border-top: none !important; }
          body#planner #availability .period.availability #avail-plan .day:last-child {
            border-bottom: none !important; }
      body#planner #availability .period.planned #plannedDate {
        text-align: center; }
        body#planner #availability .period.planned #plannedDate #day {
          padding: 1em;
          background-color: #FFF; }
          body#planner #availability .period.planned #plannedDate #day .name {
            color: #333;
            font-size: 140%;
            width: 4em;
            margin: 0 auto 0.5em auto;
            padding-bottom: 0.5em;
            border-bottom: 0.2em solid #5ed963; }
          body#planner #availability .period.planned #plannedDate #day .date {
            display: inline-block;
            color: #c1c1c1;
            font-size: 220%; }
          body#planner #availability .period.planned #plannedDate #day .month {
            display: inline-block;
            color: #c1c1c1;
            font-size: 180%; }
      body#planner #availability .period.planned #available {
        margin: -1em 0 1em 0;
        color: #999;
        padding: 0.5em; }
      body#planner #availability .period.planned #notes {
        padding: 2em;
        min-height: 10em;
        color: #333;
        background-color: #e7ef85; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

h1 {
  font-size: 150%; }

h2 {
  font-size: 120%;
  font-style: italic;
  color: #666; }

.btn {
  display: inline-block;
  padding: 0.4em 0.7em 0.5em 0.7em;
  font-size: 140%;
  color: #FFF;
  background-color: #19be78;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 0.2em #16ad6d solid;
  border-radius: 0.2em;
  transition: background-color 0.1s; }
  .btn:hover {
    background-color: #00e886; }

input {
  margin: 0 0.3em;
  color: #333;
  background-color: rgba(207, 207, 207, 0.8);
  padding: 0.4em 0.3em 0.4em 0.4em;
  font-size: 100%;
  border-width: 0;
  border-radius: 0.2em; }
  input.number {
    margin: 0;
    width: 3em;
    text-align: center;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0; }

.numberBtn {
  display: inline-block;
  position: relative;
  width: 1em;
  padding: 0.3em 0.5em 0.4em 0.5em;
  font-weight: 900;
  color: #666;
  background-color: #FFF;
  text-align: center;
  z-index: 2; }
  .numberBtn#plus {
    margin: 0 0.3em 0 -0.3em;
    border-left: 0.1em solid #DDD;
    border-bottom-right-radius: 0.2em;
    border-top-right-radius: 0.2em; }
  .numberBtn#minus {
    margin: 0 -0.3em 0 0.3em;
    border-right: 0.1em solid #DDD;
    border-bottom-left-radius: 0.2em;
    border-top-left-radius: 0.2em; }

select {
  margin: 0 0.3em;
  padding: 0.4em 0.3em 0.4em 0.4em;
  font-size: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  border-width: 0;
  border-radius: 0.2em; }

.radio {
  display: inline-flex;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
  cursor: pointer; }
  .radio .option {
    margin: 0;
    padding: 0.4em 0.6em 0.5em 0.6em;
    color: rgba(255, 255, 255, 0.6);
    background-color: #697dd3;
    border-top: none;
    border-bottom: 0.2em #3f509b solid;
    transition: background-color 0.1s ease, color 0.1s ease; }
    .radio .option.active {
      margin: 0.1em 0 0 0;
      padding: 0.4em 0.6em 0.5em 0.6em;
      color: #FFF;
      background-color: #4558a8;
      border-bottom: none; }
    .radio .option:first-child {
      border-top-left-radius: 0.3em;
      border-bottom-left-radius: 0.3em; }
    .radio .option:last-child {
      border-top-right-radius: 0.3em;
      border-bottom-right-radius: 0.3em; }

hr {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #D0D0D0; }
